.price-table tr td:first-child{background:#f1f5f9 !important;
                               color: #56688A;
                               font-size: 12px;
                               font-weight: bold;
}
.price-table tr th{text-align:center;}

#price-list label{background:#fafafa;border:1px solid #1caf9a;cursor:pointer;padding:10px 25px !important;color:#1caf9a;position:relative;margin:0px;}
#price-list label input{display:none;}
#price-list label.active{background:#1caf9a;color:#ffffff;}
#price-list label.active:after{
    position: absolute;
    font-family: "FontAwesome";
    content: "\f00c";
    font-size: 14px;
    width: 20px;
    height: 20px;
    color: #ffffff;
    right: 2px;
    cursor: pointer;
}
.story-day .row{margin-bottom: 10px;padding-bottom: 10px;}
.accomodation-item{border: 1px solid #f2f2f2;padding: 5px;}
.select-category-section{max-height: 350px;overflow-y: auto;}
.product-status button{opacity: 0.6;}
.product-status button:hover{opacity: 0.9;}
.product-status button.active{opacity: 1;}
.gallery-item{position: relative;}
.gallery-item i{position: absolute;
                top: 5px;
                right: 15px;
                background: #ffffff;
                padding: 5px;
                cursor: pointer;}
.gallery-item i:hover{color: #ff0000;}
.select-addon .input-group-addon{float: left;}
.select-addon .select{width: 100%;}
.product-rating span.checked {
    color: #fe970a;
}
.product-review-details{max-height: 1600px;overflow-y: auto;}
.product-review-details li{display: block;border-bottom: 1px solid #d8d8d8;padding-bottom: 10px;margin-bottom: 20px;}
.product-review-details li h5{font-weight: 500;color: #1caf9a;}

ul#myspecialpackages {
    margin: 0;
    padding: 0;
}
ul#myspecialpackages  li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 20px;
    list-style-type: none;
    background: #eee;
    font-size: 14px;
    transition: 0.2s;

    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set all odd list items to a different color (zebra-stripes) */
ul#myspecialpackages  li:nth-child(odd) {
    background: #f9f9f9;
}

/* Darker background-color on hover */
ul#myspecialpackages  li:hover {
    background: #ddd;
}

/* When clicked on, add a background color and strike out text */
ul#myspecialpackages  li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

/* Add a "checked" mark when clicked on */
ul#myspecialpackages  li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
#myspecialpackages .close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

#myspecialpackages .close:hover {
    background-color: #f44336;
    color: white;
}

/* Style the header */
#specialpackages.header {
    background-color: #1caf9a;
    padding: 30px 40px;
    text-align: center;
    width: 100%;
    float: left;
}

/* Clear floats after the header */
#specialpackages .header:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the input */
#specialpackages input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

/* Style the "Add" button */
#specialpackages .addBtn {
    padding: 10px;
    width: 25%;
    background: #000000;
    color: #ffffff;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

#specialpackages .addBtn:hover {
    background-color: #333333;
}
.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control,.bootstrap-select.btn-group > .disabled{
    background-color:#f9edd4;
    color: #666 !important;}
i.remove-prod{color: #f44336; font-size: 18px;cursor: pointer;float: right;}
#coupon-fixed-amount,#coupon-selected-products,#coupon-selected-categories{display: none;}
.coupon-items-list li{list-style: none;}
#home-page .widget a{color: #ffffff;}
#coupon-products-list .list-group .list-group-item:last-child,#coupon-categories-list .list-group .list-group-item:last-child{border-bottom: 1px solid #f2f2f2}

.attributediv{
    background: beige;
    border: 1px solid #3eaf9a;
    margin: 0 0px 0 0px;
    border-radius: 5px;
    min-height: 50px;
}
.attributediv p{
    text-align: center;
    margin-top: 10px;
}
.attributediv .attribute_div{
    padding: 10px 0 10px 0px;
}
.slider{
    width:50px !important;
    height:19px !important;
    margin: 0px 0px 8px 0px !important;
}