.wrapper{background:#f2f2f2;}
#header{background:#ffffff;}
#header .dropdown-menu{top:auto;}
.header-bottom.white-header{background: #fff;
                            border-top: 1px solid #f2f2f2;}
.header-bottom.white-header #menu > li > a{color:#999;}
.signin-menu{padding-left:10px;}
.signin-menu .dropdown-menu{padding:0px;background:#ffffff;margin:0px;}
.signin-menu a{color: #000;
               font-weight: 600;}
.signin-menu > a i{font-size:17px;color: #dd0016;}
.signin-menu .dropdown-menu li.register{margin-bottom:5px;}
.signin-menu .dropdown-menu li.register a{text-align:center;color:#1caf9a;}
.signin-menu .dropdown-menu li.register a small{color:#666;}
.signin-menu .dropdown-menu li.register a:hover{background:none;}
.signin-menu .dropdown-menu li.login a{text-align:center;color:#ffffff;background:#dd0016;}
.signin-menu .dropdown-menu li.logout a{text-align:center;color:#ffffff;background:#333333;}
.white-bg{background:#ffffff;padding:0px 10px;}
.footer.white-bg{padding:20px;}
.padding-white-bg{background:#ffffff;padding:20px;}
.slider-section{padding:0px; margin-bottom:0px;}
.fullwidth .container-fluid{padding:0px;}
.slider-section .container-fluid .row{margin:0px;}
.slider-section .owl-nav{top:40%;}
.slider-section .owl-nav > div{width:35px; height:35px;}
.slider-section .owl-nav .owl-prev:hover{background-position: 13px -533px;}
.slider-section .owl-nav .owl-next:hover{background-position: -28px -532px;}
.slider-section .owl-nav .owl-prev{left:10px;}
.nopadding{padding:0px;}
.nomargin{margin:0px;}
.fullwidth{width:100%;}

.slider-section .item{
	/*min-height:470px;*/
	min-height:350px;
	height:400px;
	background-size:cover !important;
	}
.slider-section .item .caption{padding:100px 20px 20px;max-width:650px;min-height:470px;}
.slider-section .item .caption p{color:#fff;font-size:18px;line-height:25px;text-align:center;}
.slider-section .item .caption h2{color:#fff;font-size:52px;text-align:center;line-height:50px;margin: 15px 0px;}
.banner-button{color:#fff !important;padding:10px 40px; border:1px solid #fff; border-radius:25px;margin:20px 0px;display:inline-block;max-width:200px;}
.banner-button:hover,.banner-button:focus{color:#000 !important;background:#ffffff;}
.banner-bottom{background: #0a6e9b;}
.main-seacrhbar .input-group .form-control{
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;}
.main-seacrhbar .btn#button-search{background:#dd0016;
                                   border-top-right-radius: 20px;
                                   border-bottom-right-radius: 20px;
                                   color:#ffffff;}

#login-page{background:#dd0016;padding-left:0px; padding-right:0px;}

#login-left,#login-left .title-heading,#login-left a{color:#ffffff;}
#login-left .btn{background:#2c2f77;color:#ffffff;}
.form-horizontal .has-feedback .form-control-feedback{line-height: 34px;}
.form-horizontal .has-feedback .fa-check{color:#1de0a8;}
.white-bg.product-grid{padding-top:20px;}
.sorting-box{border: 1px solid #e6e6e6;}

#attributesizebutton .notActive{
    color: #3276b1;
    background-color: #fff;
}


.funkyradio div {
    clear: both;
    overflow: hidden;
    width: auto;
    display: inline-block;
}

.funkyradio label {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #D1D3D4;
    font-weight: normal;
    cursor:pointer;
    padding: 5px;
    min-width: 50px;
    text-align: center;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
    display: none;
}


.funkyradio input[type="radio"]:checked ~ label,
.funkyradio input[type="checkbox"]:checked ~ label {
    color: #ffffff;
    background:#2c2f77;
    border-color: #2c2f77;
}

.product-cartbutton-group{float:left;width:100%;}
.product-cartbutton{float:left;}
.product-cartbutton .add-to-cart{width:120px !important;
                                 height: 43px !important;
                                 margin: 0px !important;}
.product-cartbutton .add-to-cart a{height:42px; line-height:23px;}
.product-cartbutton .add-to-cart span{display:block;}
.cart-information-box p{border-bottom:1px solid #f2f2f2;padding:10px 0px;}
.cart-information-box p:last-child{border-bottom:none;}
.cart-information-box i{color:#3ca19a;font-size: 30px;}


.wizard  .nav-tabs > li.active > a::after, .wizard .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #5a4080 none repeat scroll 0% 0%; color: #fff; }
.tab-pane { padding: 0px 0; }

.wizard .nav-tabs > li  {width:5%; text-align:center;}

/* check out */
.breadcrumb_checkout { 
    list-style: none; 
    overflow: hidden; 
    margin-bottom: 20px;
    padding: 0;
}

#column-left .breadcrumb_checkout li{margin:0px;border:none;}
#column-left .breadcrumb_checkout li a{padding: 8px 0 8px 55px;}
#column-left .breadcrumb_checkout li:first-child a,.breadcrumb_checkout li:first-child a{padding: 8px 15px 8px 45px;}
.breadcrumb_checkout li { 
    float: left; 
}
.breadcrumb_checkout li a {
    color: white;
    text-decoration: none; 
    padding: 8px 0 8px 55px;
    background: brown; /* fallback color */
    background-color: #60ab59;
    position: relative; 
    display: block;
    float: left;
}
#column-left .breadcrumb_checkout li a h3,.breadcrumb_checkout li a h3{font-size:18px;}
.breadcrumb_checkout li a:after { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid  #60ab5973;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}	
.breadcrumb_checkout li a:before { 
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid white;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    margin-left:0px;
    left: 100%;
    z-index: 1; 
}	
.breadcrumb_checkout li.active a:after 
{
    content: " "; 
    display: block; 
    width: 0; 
    height: 0;
    border-top: 50px solid transparent;           /* Go big on the size, and let overflow hide */
    border-bottom: 50px solid transparent;
    border-left: 30px solid  #60ab59;
    position: absolute;
    top: 50%;
    margin-top: -50px; 
    left: 100%;
    z-index: 2; 
}

.breadcrumb_checkout li:first-child a {
    padding-left: 10px;
}

.breadcrumb_checkout li.active
{
    background:        #60ab59;
    color: #fff;
}
.breadcrumb_checkout li a
{
    background:  #60ab5973;
    color: #fff;
}
.breadcrumb_checkout li a:hover
{
    background:        #60ab5973;
    color: #fff;
}
.breadcrumb_checkout li a:visited
{
    background:        #60ab5973;
    color: #fff;
}
.breadcrumb_checkout li a:focus
{
    background:        #60ab5973;
    color: #fff;
}
.breadcrumb_checkout>li.disabled>a:hover {
    background:        #60ab5973;
    color: #fff;
}
.breadcrumb_checkout>li.disabled>a:visited {
    background:        #60ab5973;
    color: #fff;
}
.breadcrumb_checkout>li.disabled>a:focus {
    background:        #60ab5973;
    color: #fff;
}
.shippingstep{padding-left:10px;}
#paymentstep .funkyradio div{width:100%;}
#paymentstep .funkyradio div label{text-align:left;padding-left:10px;}
#confirmationstep img{max-width:50px;}
#confirmationstep ul.order-item{padding-left:20px;}
#confirmationstep ul.order-item li{border-bottom:1px solid #f2f2f2;display:block;}
#confirmationstep ul.order-item li .thumb-image{width:80px; display: inline-block;}
#confirmationstep ul.order-item li .confirmorder-info{display: inline-block;}
.viewcart-button{border-bottom:1px solid #f2f2f2;width:100%;
                 padding: 10px;
                 color: #2c2f77;
                 background: #ffffff;
}
.cart-item-info{border-bottom:1px solid #f2f2f2;padding-bottom:10px; margin-bottom:10px;}
.cart-item-info:last-child{border-bottom:none;}
.cart-final-total{background:#dd0016; color:#ffffff;padding:10px;}
ul.testimonials-list{margin:0px;width:100%;float:left;}
.testimonials-list li{display:block;width:46%;margin:0 2%; float:left;}
.testimonials-content{border: 2px solid #ccc;
                      border-radius: 5px;
                      padding: 16px;
                      margin: 16px 0;
                      float:left;
                      width:100%;
}
.testimonials-content img{
    float: left;
    margin-right: 20px;
    border-radius: 50%;
    width:90px;
    height:90px;
}
.testimonials-content p.client-name{color:#333;}
.testimonials-content p.client-name span{color:#2c2f77;font-size: 16px;
                                         font-weight: 600;}



@media (min-width:992px) {
    .search-overlay{position:static;visibility: visible;opacity: 1}
    .main-seacrhbar{margin-right:50px;width:400px;}
    .noleftpadding{padding-left:0px;}
    .norightpadding{padding-right:0px;}
    #register-form .form-group,#shipping-new .form-group{width:50%;float:left;}
    .collapse.dont-collapse-sm {
        display: block;
        height: auto !important;
        visibility: visible;
    }
}

@media (min-width:1292px) {
    #header .header-right{margin-right:10px;}
    .main-seacrhbar{margin-right:150px;width:500px;}
    .signin-menu{padding-left:20px;}
}

@media (max-width:991px) {
    #header .header-bottom .navbar-collapse{left:0px;}
    .search-overlay{position:absolute;top:87px;}
    .search-overlay .container{width: 100%;}
    .prodetail.product-thumb{top:100px;}
}
@media (max-width:767px) {
    #header .header-bottom .navbar-collapse{left:15px;}
    #column-left .breadcrumb_checkout li a,.breadcrumb_checkout li a{padding: 8px 0 8px 40px;}
    #column-left .breadcrumb_checkout li:first-child a,.breadcrumb_checkout li:first-child a{padding: 8px 0 8px 25px;}
    #column-left .breadcrumb_checkout li a h3,.breadcrumb_checkout li a h3{font-size:16px;}
    .testimonials-list li{width:100%;margin:0px;}
}
@media (max-width:480px) {
    .header-right{padding:10px 0px;}
    .navbar-brand.mtb_30, .header-right.mtb_30{margin:0px;}
    #header .container{padding:0px;}
    #header .container .navbar .header-right{padding-left:15px;padding-right:15px;border-top: 1px solid #f2f2f2;}
    #header .header-bottom .navbar-collapse{left:15px;}
    .search-overlay{top:100px;padding:0px 10px;height:105px;position:absolute;}
    .search-overlay .container{height:100px;}
    .header-top-left li a, .header-top-right li a{padding: 0 10px;}
    #column-left .breadcrumb_checkout li a,.breadcrumb_checkout li a{padding: 8px 0 8px 32px;}
    #column-left .breadcrumb_checkout li:first-child a,.breadcrumb_checkout li:first-child a{padding: 8px 0 8px 15px;}
    #column-left .breadcrumb_checkout li a h3,.breadcrumb_checkout li a h3{font-size:14px;}
    .testimonials-content{text-align:center;}
    .testimonials-content img{margin: auto;
                              float: none;
                              display: block;}
}

@media (max-width: 340px) {
    .wizard-inner{display:none;}
}
.toastr{
    top: 75%;
    left: 40%;
    z-index: 999;
    position: fixed;
}