.account-sidebar .panel-heading{background:#2c2f77;color:#fff;}
.account-sidebar .panel-heading p img{width:50px;height:50px;border:3px solid #fff;border-radius:50%;margin-right:15px;}
.account-sidebar-menu{padding:0px;}
.account-sidebar-menu ul{margin:0px;}
.account-sidebar-menu ul li{border-bottom:1px solid #f2f2f2;}
.account-sidebar-menu ul li:last-child{border-bottom:none;}
.account-sidebar-menu ul li a{padding:10px 15px;display: inline-block;
width: 100%;}
.account-sidebar-menu ul li a > .badge{float:right;
background:none;
color: #999;
font-size: 17px}
.account-sidebar-menu ul li a.active{background: #fafafa;
padding-left: 29px;
color: #999;
font-weight: 600;}
.account-sidebar-menu ul li a.logout{text-align:center;}
.account-sidebar-menu ul li a i{color: #a4d8de;
font-size: 20px;
padding-right: 10px;}
.account-sidebar-menu ul li a > .badge i{color: #999;}
.account-sidebar-menu ul li a.active > .badge i{font-weight:600;}
.account-sidebar-menu ul li a:hover{background: #fafafa;color: #999;}
.account-content{min-height:470px;}
.account-content .panel-heading{background:#fff;color:#999;}
#edit-profile{background:#fff;border:1px solid #2c2f77; color:#2c2f77;}
#edit-profile:hover,#edit-profile:focus{background:#2c2f77; color:#fff;}
#cancelbutton,#updateprofile,#new-address-form{display:none;}
.manage-address-content .border-content{border: 1px solid #a4d8de;
padding: 10px;
margin:10px 0px;}
#add-address{cursor:pointer;color: #a4d8de;}
.address-edit-tool ul.dropdown-menu{background:#fff;padding:0px;min-width: 100px;right: -10px;}
ul.wishlist li{width:100%;border-bottom: 1px solid #f2f2f2;
margin: 0px;
padding: 10px 0px;}
.wishlist .product-list .product-thumb .image{width:100%;max-width:80px;}
ul.wishlist li .remove-wishlist{position:absolute;top: 0px;
right: 0px;
color: #e74c3c;cursor:pointer;}
ul.wishlist li .caption.product-detail{padding-right:20px;}
ul.wishlist li .add-to-cart a{background:#2c2f77;color:#fff;padding:5px 10px;border-radius:3px;}
.panel.order-content{background:ffffff;}
.order-history {}
.order-history .panel{border-radius:0px;}
.order-history .panel-heading{background:#f2f2f2;border-radius:0px;}
.order-history .panel-footer{background:#ffffff;border-radius:0px;}
.order-history .order-number{background:#2c2f77;color:#fff;padding:10px;border-radius:1px;display:inline-block}
.order-history .order-help,.order-history .order-track{background: #fff;
color: #666;
padding: 7px 10px;
border-radius: 1px;
border: 1px solid #6666;
display:inline-block}
.order-short-info img{max-width:80px;margin:0 auto;}
.order-item-name a{color:#333;}
.order-item-price{color:#000; font-size:15px;font-weight:600;}
.order-status{color:#1caf9a;}
#order-details-table table thead tr{background:#fafafa;}










